@font-face {
    font-family: 'SF UI Display';
    font-weight: 900;
    src: url('../../public/fonts/SFUIDisplay-Black.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'SF UI Display';
    font-weight: bold;
    src: url('../../public/fonts/SFUIDisplay-Bold.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'SF UI Display';
    font-weight: 800;
    src: url('../../public/fonts/SFUIDisplay-Heavy.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'SF UI Display';
    font-weight: 300;
    src: url('../../public/fonts/SFUIDisplay-Light.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'SF UI Display';
    font-weight: 500;
    src: url('../../public/fonts/SFUIDisplay-Medium.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'SF UI Display';
    font-weight: normal;
    src: url('../../public/fonts/SFUIDisplay-Regular.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'SF UI Display';
    font-weight: 600;
    src: url('../../public/fonts/SFUIDisplay-Semibold.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'SF UI Display';
    font-weight: 200;
    src: url('../../public/fonts/SFUIDisplay-Thin.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'SF UI Display';
    font-weight: 100;
    src: url('../../public/fonts/SFUIDisplay-Ultralight.woff2') format('woff2');
  }
  
